{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}
  

</div>
  <div class="jumbotron p-5 text-white rounded bg-info" style="height:460px ">
    <div class="col-md-6 px-0" style="margin:95px">
      <h1 class="about-us-head">About Us</h1>
        <p class="about-us-para">
            Welcome to Car Rental, your go-to solution for convenient and reliable car rentals.
            At Car Rental, we understand that getting from point A to point B shouldn't be a hassle.
            Whether you're a frequent traveler, a business professional, or simply need a vehicle for
            a weekend getaway, we've got you covered.Established with the mission to simplify mobility,
            Car Rental offers an extensive fleet of vehicles suited to meet your every need.
            From compact cars for urban adventures to spacious SUVs for family road trips,
            we provide a diverse range of options to accommodate all preferences and requirements.
        </p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="wcu-section-heading">Why Choose Us?</h1>
      </div>
      <div class="col-12 col-md-4">
        <div class="wcu-card p-3 mb-3">
          <img
            src="https://thumbs.dreamstime.com/b/outline-icon-safety-car-thin-style-race-rally-control-competition-siren-193548157.jpg"
            class="wcu-card-image"
          />
          <h1 class="wcu-card-title mt-3">Safe</h1>
          <p class="wcu-card-description">
            Most trustworthy website for renting a vehicle in World. All the vehicles are well maintained and in good condition. Servicing is done after every two weeks.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="wcu-card p-3 mb-3">
          <img
            src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/offers-img.png"
            class="wcu-card-image"
          />
          <h1 class="wcu-card-title mt-3">Affordable Prices</h1>
          <p class="wcu-card-description">
            All the rent are in affordable prices. 
            If there is a problem in the vehicle, there is a return back policy. 
            Payment can be made online safely
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="wcu-card p-3 mb-3">
          <img
            src="https://thumbs.dreamstime.com/b/linear-hygienic-icon-medical-outline-collection-thin-line-isolated-white-background-trendy-illustration-140074715.jpg"
            class="wcu-card-image"
          />
          <h1 class="wcu-card-title mt-3">Hygienic </h1>
          <p class="wcu-card-description pb-5">
            Your comfort is our priority! All the vehicles are well-maintained and hygienic.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}